body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: rgba(0,0,0,0.8);
}

a {
  color: #00B7FF;
}

/*
  Scrollbar
*/

.search-block::-webkit-scrollbar {
    width: 1em;
}

.search-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}

.search-block::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.header{
  background: rgb(185, 30, 30);
  color: white;
  height: 50px;
  width: 100vw;
  padding: 0 0.8em;
  display: table-cell;
  vertical-align: middle;
}

.content {
  height: 90%;
}
  .content > .pure-g{
    height: 100%;
  }

/*
  Search area
*/
.search-block{
  position: fixed;
  width:30%;
  height:100%;
  right:0;
  top:0;
  background: rgba(0,0,0,0.9);
  padding: 0em 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0.7;
  transform: translate(89%,0);
  z-index: 999;
  transition: 200ms all linear;
}
  .search-block:hover{
    opacity: 1;
    transform: translate(0,0);
  }

.search-bar{
  width: 100%;
  text-align: center;
  height:50px;
}

  .search-bar input {
      width: 100%;
      height: 100%;
      padding: 0.5em 3em;
      background: rgba(0, 0, 0, 1);
      border: none;
      color: white;
  }
    .search-bar input:focus{
      outline: none;
    }


.search-icon{
  position: absolute;
  left: 4%;
  top: 2%;
  opacity: 0.5;
  color: white;
  font-size: 23px;
}

/*
  Video Player
*/
.video-container{
  text-align: center;
  padding: 0 0 0.5em 0;
}
.dy-player{
  width:100%;
  height: 100%;
}

/*
  search results
*/
.search-result-block{
  position: relative;
  margin: 0.1em 0;
  height: 60px;
  /* box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.2); */
  transition: 200ms all linear;
  transform: translate(0,0);
}
  .search-result-block:hover{
    background: rgba(255,255,255,0.1);
    cursor: pointer;
  }

.search-result-block-out{
  transform: translate(100%,0);
  position: absolute;
}

.search-result-block div{
  word-break: break-all;
}
.search-result-header {
    padding: 0.2em 0.5em;
    color: white;
    letter-spacing:normal;
}
.search-result-img{
  width: 100%;
  height:100%;
}

/*
  video library
*/
.my-list-container{
  position: relative;
  max-height: 250px;
  transform: translate(0,0);
  transition: 200ms all linear;
}
.list-item-block{
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 0.1em;
  border-radius: 1px;
  border: thin solid rgba(10, 10, 10, 0.2);
  opacity:0.75;
  transition: 200ms all linear;
}

  .list-item-block:hover{
    opacity: 1;
    cursor: pointer;
  }

.list-item-header {
    background: rgba(76, 76, 76,0.32);
    padding: 0.2em 0.5em;
    color: white;
    height:43px;
}
.list-item-img{
  width: 100%
}
.remove-item{
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-105%,-105%);
  border: thin solid black;
  padding: 0.2em 0.4em;
  background: black;
  color: white;
  opacity: 0.75;
}
.library-window{
  position: fixed;
  top: 100%;
  left: 0;
  width:100%;
  transform: translate(0,-25%);
  background: rgba(0,0,0,0.9);
  opacity: 0.5;
  transition: 200ms all linear;
}
  .library-window:hover{
    opacity: 1;
    transform: translate(0,-100%);
  }
